.banner2 {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg-2.jpg) no-repeat center center;
    background-size: cover;
}


.banner2 h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}